html, body {
    height: 100%;
    margin: 0;
}
#map {
    width: 100%;
    height: 100%;
}
.leaflet-container {
    background:black !important;
}
.leaflet-container .leaflet-control-attribution {
    background: none !important;
}
.leaflet-container a {
    color: black !important;
}